* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Responsive layout */
/* when the screen is less than 700px wide, */
/* make the two columns stack on top of each other */
/* instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}

/* From original _sass */
.page-title {
  padding: 0px 10px 10px;
}

.misc-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
